{
   "semi": false,
   "arrowParens": "always",
   "tabWidth": 3,
   "endOfLine": "lf",
   "bracketSameLine": false,
   "bracketSpacing": true,
   "experimentalTernaries": true,
   "experimentalOperatorPosition": "start",
   "useTabs": false,
   "singleAttributePerLine": true,
   "printWidth": 80,
   "objectWrap": "preserve",
   "trailingComma": "es5"
}
