@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
    @apply bg-slate-950 text-slate-400 antialiased selection:bg-emerald-400 selection:text-emerald-900 scroll-smooth;
}